<div class="mat-elevation-z8 prize-card">
    <h2 style="text-align: center;">Prize - OnePlus - Nord</h2>
    <div class="flex-container">
        <div><img src="../../assets/Images/OnePlus.png"></div>
        <div class="description">
            <h2>Description</h2>
            <p>OnePlus 9R VC cooling system size compared to the OnePlus 8 and OnePlus 8Pro.</p>
            <p>The OnePlus 9R uses twin battery technology that is equal to 4500 mAh.</p>
            <button mat-stroked-button>Terms and Conditions</button>   
        </div>
    </div>
</div>