
img {
    width: 100%;
    height: 100%;
    align-content: center;
}

.description {
    padding: 2%;
}

.prize-card, button {
    background-color: rgb(30,30,30);
}

.prize-card {
    color:whitesmoke;
    margin: 10px;
    padding: 10px;
}

button {
    color:orange;
    background-color: black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

h1, h2 {
    color:orange;
}
