<mat-toolbar class="title">
  <img src="../assets/Images/FitPay.png" width="100" />
  <a mat-button routerLink="/leaderboard">Leaderboard</a>
  <a mat-button class="download">Download App</a>
</mat-toolbar>
<router-outlet></router-outlet>