.title {
    color: white;
    background-color: black;
    font-size: x-large;
    padding: 5px;
}

a {
    color: white;
    font-size:large;
    background-color: black;
}

a:hover {
    color: orange;
}

.download {
    color:black;
    background-color: orange;
    border-radius: 25px;
}

.download:hover {
    color:black;
    background-color: rgb(197, 128, 0);
}
