
.mat-elevation-z8 {
    margin: 10px;
}

img  {
    border-radius: 50%;
}

table, .mat-form-field {
    width: 100%;
}

mat-paginator, table, .form-field {
    background-color: rgb(31, 31, 31);
}

mat-label {
    color: orange;
}

.form-field {
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0% 1% 0% 1%;
}

.form-field div:nth-child(1) {
    color:orange;
    font-size: larger;
    font-weight: bold;
    flex-basis: 30%;
    padding: 1% 1% 0% 1%;
}

.form-field div:nth-child(2) {
    flex-basis: 28%;
    padding: 1% 1% 0% 1%;
}

.form-field div:nth-child(3) {
    flex-basis: 42%;
    padding: 1% 1% 0% 1%;
}

th {
    color:orange;
    font-size:medium;
}

tr:hover, th {
    background-color: rgb(49, 49, 49);
}

input {
    padding:1% 0% 1% 1%;
    border-radius: 15px;
}

td {
    color: white;
}

@media screen and (max-width: 768px) {
    .form-field {
        flex-direction: column;
    }
}