<div class="mat-elevation-z8">
    <div class="form-field">
        <div><p>List of Contestants</p></div>
        <div>
            <mat-form-field color="accent">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [ngModel]="date" (ngModelChange)="getLeaderBoard($event)">   
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field color="accent">
                <mat-label> Search Filter</mat-label>
                <input matInput (keyup)="searchData($event)" placeholder="Search by name..." #input autocomplete="off">
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="contestants-table">
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let element; index as i"> {{i + 1}} </td>
            </ng-container>
        <ng-container matColumnDef="userProfilePicUrl">
            <th mat-header-cell *matHeaderCellDef> Profile </th>
            <td mat-cell *matCellDef="let element"><img [src]="element.userProfilePicUrl" width="50"></td>
        </ng-container>
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> User ID </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
        </ng-container>
        <ng-container matColumnDef="totalSteps">
            <th mat-header-cell *matHeaderCellDef> Total Steps </th>
            <td mat-cell *matCellDef="let element"> {{element.totalSteps}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator color="accent" [pageSizeOptions]="[10, 20]"></mat-paginator>
</div>
