.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.flex-container div:nth-child(1) {
    flex-basis: 25%;
}

.flex-container div:nth-child(2) {
    flex-basis: 75%;
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}